@import url("https://fonts.googleapis.com/css2?family=Damion&family=Lato:wght@300;400;900&family=Lusitana:wght@400;700&display=swap");

body {
  font-size: 16px;
  font-family: Lato, arial, sans-serif;
}
a {
  text-decoration: inherit;
  color: inherit;
}
